# Ignore dependencies folder
node_modules/
/.pnp
.pnp.js

# Ignore environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore build artifacts
/build/

# Ignore log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Explicitly allow fresh-anomaly-detection-website folder
!fresh-anomaly-detection-website/