# Ignore dependencies folder
node_modules/

# Ignore environment variables
.env

# Ignore video files
public/videos/motor.mp4

# Ignore build artifacts
build/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.dbgit init