/* src/components/SpeedController/SpeedController.css */

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
}

span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}