.sensor-display {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .sensor-box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    margin: 10px;
  }